<body style="background: url(https://cdn.pixabay.com/photo/2016/06/01/11/54/background-1428868_960_720.jpg) center no-repeat;
    background-size: cover;background-attachment: fixed;">
<!–– Background Artist/Creator: TheDigitalArtist from Pixabay.com ––>

<h1><%= @emotion.name.capitalize %> Memories:</h2><br>
  <% @emotion.memories.each do |memory| %>
    <li><a href="/memories/<%= memory.slug %>"><%= memory.title.capitalize %></a></li><br>
  <% end %>
  
<form method="GET" action="/emotions/<%= @emotion.slug %>/edit">
  <input type="submit" value="Edit Emotion" />
</form> <br>
  
<form method="post" action="/emotions/<%= @emotion.slug %>/delete">
  <input id="hidden" type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete Emotion">
</form> <br>
  
<form method="GET" action="/emotions">
  <input type="submit" value="Emotions Page" />
</form> <br>

<form method="GET" action="/">
  <input type="submit" value="Home Page" />
</form>