<body style="background: url(https://cdn.pixabay.com/photo/2018/10/01/00/36/astral-traveler-3715079_960_720.jpg) center no-repeat;
    background-size: cover;background-attachment: fixed;">

<h1>Add a New Memory</h1>
<form action="/memories" method="POST">
  <h3>Title of Memory: <input type="text" name="title"></h3><br>
  <h3><textarea name="content" cols="38" rows="10" placeholder="Enter Content here:"></textarea></h3><br>
  <% if !@emotions.empty? %>
    <label><h3>Choose an Emotion(s):</h3></label>
    <% @emotions.each do |emotion| %>
      <li><input type="checkbox" name="emotions[]" id="<%= emotion.name %>" value="<%= emotion.id %>"> <%= emotion.name %></input  ></li>
    <% end %><br>
    <h4>Create a New Emotion: <input type="text" id="new_emotion" name="emotion[name]"></h4><br>
  <% else %>
    <h2><%= current_user.username.capitalize %>, add your first Emotion below:</h2>
    <h4>Create a New Emotion: <input type="text" id="new_emotion" name="emotion[name]"></h4><br>
  <% end %>
  
  <% if !@players.empty? %>
    <label><h3>Choose a Person(s):</h3></label>
    <% @players.each do |player| %>
    <li><input type="checkbox" name="players[]" id="<%= player.name %>" value="<%= player.id %>"> <%= player.name %></input></li>
    <% end %><br>
    <h4>Add a New Person(s): <input type="text" id="new_player" name="player[name]"></h4><br>
  <% else %>
    <h2><%= current_user.username.capitalize %>, add your first Person or your name below:</h2>
    <h4>Add a New Person(s): <input type="text" id="new_player" name="player[name]"></h4><br>
  <% end %>
    
  <input class="btn btn-primary" type="submit" value="Bottle Your Memory">
</form>