<body style="background: url(https://cdn.pixabay.com/photo/2018/10/01/00/36/astral-traveler-3715079_960_720.jpg) center no-repeat;
    background-size: cover;background-attachment: fixed;">
<!–– Background Artist/Creator: darksouls1 from Pixabay.com ––>

<h1>Add a New Memory</h1>
<form action="/memories" method="POST">
  <h3>Title of Memory: <input type="text" name="title"></h3><br>
  <h3><textarea name="content" cols="38" rows="10" placeholder="Enter Content here:"></textarea></h3><br>
  <% if !@emotions.empty? %>
    <label><h3>Choose an Emotion(s):</h3></label>
    <% @emotions.each do |emotion| %>
      <li><input type="checkbox" name="emotions[]" id="<%= emotion.name %>" value="<%= emotion.id %>"> <%= emotion.name.capitalize %></input  ></li>
    <% end %><br>
    <h4>Create a New Emotion: <input type="text" id="new_emotion" name="emotion[name]"></h4><br>
  <% else %>
    <h2><%= current_user.username.capitalize %>, add your first Emotion below:</h2>
    <h4>Create a New Emotion <input type="text" id="new_emotion" name="emotion[name]"></h4><br>
  <% end %>
  
  <% if !@players.empty? %>
    <label><h3>Choose a Person/Pet(s):</h3></label>
    <% @players.each do |player| %>
    <li><input type="checkbox" name="players[]" id="<%= player.name %>" value="<%= player.id %>"> <%= player.name.split.map(&:capitalize).join(' ')
 %></input></li>
    <% end %><br>
    <h4>Add a New Person/Pet <input type="text" id="new_player" name="player[name]"></h4><br>
  <% else %>
    <h2><%= current_user.username.capitalize %>, add your first Person or your Name below:</h2>
    <h4>Add a New Person: <input type="text" id="new_player" name="player[name]"></h4><br>
  <% end %>
    
  <input class="btn btn-primary" type="submit" value="Bottle Your Memory">
</form><br>

<form method="GET" action="/memories">
  <input type="submit" value="Memories Page" />
</form> <br>

<form method="GET" action="/">
  <input type="submit" value="Home Page" />
</form>