<body style="background: url(https://cdn.pixabay.com/photo/2016/05/10/21/50/meditation-1384758_960_720.jpg) center no-repeat;
    background-size: cover;background-attachment: fixed;">
<ul>
  <h2>"<%= @memory.title %>"</h2>
  <h3><%= @memory.content %></h3>
</ul><br>

<h3>Emotions:</h3>
<% @memory.emotions.each do |emotion| %>
  <li><a href="/emotions/<%= emotion.slug %>"><%= emotion.name %></a></li>
<% end %><br>

<h3>People:</h3>
<% @memory.players.each do |player| %>
  <li><a href="/players/<%= player.slug %>"><%= player.name %></a></li>
<% end %><br>

<form method="post" action="/memories/<%=@memory.slug%>/delete">
  <input id="hidden" type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete Memory">
</form> <br>

<form method="GET" action="/memories/<%=@memory.slug%>/edit">
  <input type="submit" value="Edit Memory" />
</form> <br>

<form method="GET" action="/memories">
  <input type="submit" value="Your Memories Page" />
</form> <br>

<form method="GET" action="/">
  <input type="submit" value="Home Page" />
</form>