<center><h2>Newest Memory</h2></center>
<ul>
  <li><h2>"<%= @memory.title %>"</h2></li>
  <li><p><%= @memory.content %></li></p>
  <li>Emotion: <h3><%= @memory.emotion %></h3></li>
  <li>People in the Memory: <h3><%= @memory.player %></h3></li>
</ul>

<form method="post" action="/memories/<%=@memory.id%>/delete">
  <input id="hidden" type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete Memory">
</form> <br>

<form method="GET" action="/memories/<%=@memory.id%>/edit">
  <input type="submit" value="Edit Memory" />
</form> <br>

<form method="GET" action="/memories">
  <input type="submit" value="Your Memories Page" />
</form> <br>

<form method="GET" action="/">
  <input type="submit" value="Back to Your Home Page" />
</form>